.item {
    display: flex;
    width: 75%;
    align-self: center;
    justify-content: space-between;
}
.item .checkbox{
    width: 15px;
    height: 15px;
}
.item .field:first-child {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: start;
}
.item .field:last-child {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: end;
    gap: 8px;
}
.item .field{
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: center;
}

.item p {
    word-break: break-all;
    overflow-wrap: break-word;
}