.list {
    display: flex;
    flex-direction: column;
    place-self: center;
}
.list .separator-primary {
    height: 0.5px;
    background-color: rgb(38 38 38);
    width: 75%
}
.list .separator-secondary {
    height: 0.1px;
    background-color: #8d99ae;
    width: 75%
}

.list .head {
    display: flex;
    width: 75%;
    align-self: center;
    justify-content: space-between;
}
.list .head .field:first-child {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: start;
}
.list .head .field {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: center;
}
.list .head .field:last-child {
    width: 100%;
    display:flex;
    align-self: center;
    justify-content: end;
    gap: 8px;
}
.list .head .field p {
    font-weight: 600;
}