.modal-bg {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    opacity: 70%
}

.formBox {
    width: 50%;
    height: fit;
    background-color: white;
    position: absolute;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2em
}
.formBox .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 25px;
}
.formBox .form .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.formBox h2 {
    margin: 0;
    height: 5rem;
    
    justify-content: center;
}
.formBox textarea {
    resize: none;
    
}
.formBox .form button {
    background-color: #e76f51;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
    border: 0;
    width: 25%;
    height: 30px;
    border-color: #e76f51;
    border-width: 1px;
    border-style: solid;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.formBox .form button:hover {
    background-color: transparent;
    border-color: #180f0d;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.375rem;
    color: black; 
}



@media (max-width: 768px) {
.formBox{
    width: 80%;
    left: 1rem;
}
.formBox textarea {
    width: 80%;
    height: 30px;
    margin-left: 30px;

}



}